@import '../../style/variables';

.input {
    label,
    input {
        touch-action: manipulation;
        transition: all 0.2s;
    }

    input[type=text] {
        -webkit-appearance: none;
        background-color: $bloodorange;
        border-radius: 7px;
        border: none;
        color: $babyblue;
        cursor: text;
        padding: 7px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #dfe6eb;
        }

        &:focus::placeholder {
            opacity: .5;
        }
    }
}