@import '../../style/variables';

header {
	align-items: center;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	font-size: calc(14px + 2vmin);
	justify-content: center;
	margin-bottom: 15px;
	min-height: 30vh;
	width: 100vw;

	h1,
	>div {
		color: $offwhitetext;
		text-align: center;
		text-shadow: $dropshadow;
	}

	>div {
		font-size: calc(8px + 2vmin);
	}
}